<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8"></div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <--! Hacer los NG IF PARA CADA UNO>
          <h3 class="mb-0">Crear</h3>
        </div>
        <form class="form" [formGroup]="theFormGroup">
          <div class="card-body">
            <div class="row">
              <div class="col-4">
                <label for="">Id</label>
              </div>
              <div class="col-8">
                <input
                  type="text"
                  class="form-control"
                  disabled
                  [(ngModel)]="theater.id"
                />
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <label for="">Ubicacion</label>
              </div>
              <div class="col-8">
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="theater.location"
                  formControlName="location"
                />
                <br />
                <div
                  *ngIf="
                    getTheFormGroup.location.errors &&
                    (getTheFormGroup.location.dirty ||
                      getTheFormGroup.location.touched ||
                      trySend)
                  "
                >
                  <strong
                    *ngIf="getTheFormGroup.location.errors.required"
                    class="msnError"
                    >Requerido</strong
                  >
                  <strong
                    *ngIf="getTheFormGroup.location.errors.minlength"
                    class="msnError"
                    >Inválido, mínimo 3 caracteres
                  </strong>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <label for="">Capacidad</label>
              </div>
              <div class="col-8">
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="theater.capacity"
                  formControlName="capacity"
                />
                <br />
                <div
                  *ngIf="
                    getTheFormGroup.capacity.errors &&
                    (getTheFormGroup.capacity.dirty ||
                      getTheFormGroup.capacity.touched ||
                      trySend)
                  "
                >
                  <strong
                    *ngIf="getTheFormGroup.capacity.errors.min"
                    class="msnError"
                    >Valor mínimo debe ser 1</strong
                  >
                  <strong
                    *ngIf="getTheFormGroup.capacity.errors.max"
                    class="msnError"
                    >Valor máximo 100
                  </strong>
                  <strong
                    *ngIf="getTheFormGroup.capacity.errors.required"
                    class="msnError"
                    >Requerido</strong
                  >
                </div>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-4"></div>
              <div class="col-8">
                <button
                  *ngIf="mode == 2"
                  class="btn btn-primary btn-block"
                  (click)="create()"
                >
                  Crear
                </button>

                <button
                  *ngIf="mode == 3"
                  class="btn btn-primary btn-block"
                  (click)="update()"
                >
                  Actualizar
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
